
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

#title {
  text-align: center;
  margin: 5px;

}

#menuButton {
  cursor: pointer;
  padding-bottom: 5px;
}

#map {
  height: 80%;
  width: 100%;
}

#infoWindow {
  color: black;
}

#list {
  list-style: none;
  text-align: left;
  width: 100%;
}

#placesList {
  width: 100%;
  cursor: pointer;
  cursor: hand;
  padding: 0,0, 0, 0;
}

.sideBar {
  height: 80%;
  display: block;
  width: 15%;
  margin-top: 0;
  margin-left: 0;
  background-color: black;
  position: fixed;
  z-index: 1;
  text-align: left;
}

@media (max-width: 768px) {
  .sideBar {
    display: none;
    width: 25%;
  }
}